In [21]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [31]:
df = pd.read_csv('Data.csv')
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3   Spain   38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [33]:
df.isna().sum()

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

In [37]:
dropped_df=df.dropna()

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    10 non-null     object
 1   Age        9 non-null      float64
 2   Salary     9 non-null      float64
 3   Purchased  10 non-null     object
dtypes: float64(2), object(2)
memory usage: 452.0+ bytes

In [55]:
df['Age'] = df['Age'].fillna(df['Age'].mean(),inplace = True)

C:\Users\CSE\AppData\Local\Temp\ipykernel_7812\3246021252.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'] = df['Age'].fillna(df['Age'].mean(),inplace = True)

In [69]:
df['Age'].fillna(method='ffill',inplace=True)

C:\Users\CSE\AppData\Local\Temp\ipykernel_7812\2387697851.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(method='ffill',inplace=True)
C:\Users\CSE\AppData\Local\Temp\ipykernel_7812\2387697851.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Age'].fillna(method='ffill',inplace=True)

In [73]:
df.ffill(inplace=True)

In [ ]:
from sklearn.impute import SimpleImputer

In [170]:
imputer = SimpleImputer(fill_value=np.nan,strategy ='mean')
X = imputer.fit_transform(df)
X = pd.Dataframe(X.columns,columns=df.columns)
print(X)

ValueError: Cannot use mean strategy with non-numeric data:
could not convert string to float: 'No'

In [90]:
from sklearn.preprocessing import LabelEncoder

In [92]:
Le=LabelEncoder()
Le.fit(df['Country'])
df.Country = Le.transform(df.Country)
print(df)

   Country   Age   Salary Purchased
0        0  None  72000.0        No
1        2  None  48000.0       Yes
2        1  None  54000.0        No
3        3  None  61000.0        No
4        1  None  61000.0       Yes
5        0  None  58000.0       Yes
6        2  None  52000.0        No
7        0  None  79000.0       Yes
8        1  None  83000.0        No
9        0  None  67000.0       Yes

In [96]:
pd.get_dummies(data=df)

   Country   Salary  Purchased_No  Purchased_Yes
0        0  72000.0          True          False
1        2  48000.0         False           True
2        1  54000.0          True          False
3        3  61000.0          True          False
4        1  61000.0         False           True
5        0  58000.0         False           True
6        2  52000.0          True          False
7        0  79000.0         False           True
8        1  83000.0          True          False
9        0  67000.0         False           True

In [98]:
from sklearn.preprocessing import OneHotEncoder

In [104]:
oh = OneHotEncoder()
s1 = pd.DataFrame(oh.fit_transform(df.iloc[:,[0,3]]))
pd.concat([df,s1],axis=1)

   Country   Age   Salary Purchased                             0
0        0  None  72000.0        No    (0, 0)\t1.0\n  (0, 4)\t1.0
1        2  None  48000.0       Yes    (0, 2)\t1.0\n  (0, 5)\t1.0
2        1  None  54000.0        No    (0, 1)\t1.0\n  (0, 4)\t1.0
3        3  None  61000.0        No    (0, 3)\t1.0\n  (0, 4)\t1.0
4        1  None  61000.0       Yes    (0, 1)\t1.0\n  (0, 5)\t1.0
5        0  None  58000.0       Yes    (0, 0)\t1.0\n  (0, 5)\t1.0
6        2  None  52000.0        No    (0, 2)\t1.0\n  (0, 4)\t1.0
7        0  None  79000.0       Yes    (0, 0)\t1.0\n  (0, 5)\t1.0
8        1  None  83000.0        No    (0, 1)\t1.0\n  (0, 4)\t1.0
9        0  None  67000.0       Yes    (0, 0)\t1.0\n  (0, 5)\t1.0

In [118]:
from sklearn.preprocessing import StandardScaler

In [164]:
ss=StandardScaler()
df.iloc[:,1:-1]=ss.fit_transform(df.iloc[:,1:-1])
print(df)

   Country  Age    Salary Purchased
0        0  NaN  0.772568        No
1        2  NaN -1.408800       Yes
2        1  NaN -0.863458        No
3        3  NaN -0.227226        No
4        1  NaN -0.227226       Yes
5        0  NaN -0.499897       Yes
6        2  NaN -1.045239        No
7        0  NaN  1.408800       Yes
8        1  NaN  1.772361        No
9        0  NaN  0.318116       Yes

C:\Users\CSE\anaconda3\Lib\site-packages\sklearn\utils\extmath.py:1137: RuntimeWarning: invalid value encountered in divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
C:\Users\CSE\anaconda3\Lib\site-packages\sklearn\utils\extmath.py:1142: RuntimeWarning: invalid value encountered in divide
  T = new_sum / new_sample_count
C:\Users\CSE\anaconda3\Lib\site-packages\sklearn\utils\extmath.py:1162: RuntimeWarning: invalid value encountered in divide
  new_unnormalized_variance -= correction**2 / new_sample_count

from sklearn.preprocessing import MinMaxScaler

In [168]:
scaler=MinMaxScaler()
scaler_data = scaler